/* .bd-red{border: solid 2px red!important;}
.bd-green{border: dashed 2px green!important;}
.bd-yellow{border: solid 3px yellow!important;}
.bd-blue{border: solid 1px blue!important;}    
 */
 
 .loading-comp > .loading-comp-c1{
   background: linear-gradient(-45deg, #e7e4e4, #e2e2e2);
	background-size: 100% 100%;
	animation: bumble 2s backwards infinite;
}

 .loading-comp > .loading-comp-c2{
  background: linear-gradient(-45deg, #e7e4e4, #e2e2e2);
  background-size: 100% 100%;
  animation: bumble-reverse 2s backwards infinite;
}

@keyframes bumble {
	0% {

    transform: translateX(0);
		background-position: 0% 50%;
	}
	50% {
    transform: translateX(6%);
		background-position: 100% 50%;
	}
	100% {
    transform: translateY(0);
		background-position: 0% 50%;
	}
}
@keyframes bumble-reverse {
	0% {

    transform: translateY(0);
		background-position: 0% 50%;
	}
	50% {
    transform: translateY(-6%);
		background-position: 100% 50%;
	}
	100% {
    transform: translateY(0);
		background-position: 0% 50%;
	}
}
:root {
  --primary-color: #193D89;
  --second-color: #E41311;
  --third-color: #27BBE0;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.flex-row{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;  
  flex-direction: row;
}
.flex-column{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;  
  flex-direction: column;
}
.jus-center{justify-content: center!important;}
.jus-start{justify-content: flex-start!important;}
.jus-end{justify-content: flex-end!important;}
.jus-space-between{justify-content: space-between!important;}

.aln-center{align-items: center!important;}
.aln-start{align-items: flex-start!important;}
.aln-end{align-items: flex-end!important;}
@font-face {
  font-family: "GothamMedium";
  src: url("./assets/GothamMedium.ttf");
}

@font-face {
  font-family: "gothamUltra";
  src: url("./assets/gotham-ultra.otf");
}
@font-face {
  font-family: "gothamBook";
  src: url("./assets/gotham-book.otf");
}
*{
 font-family: 'gothamBook', Arial, sans-serif;
  box-sizing: border-box;
}


.rollup-enter-active, .rollup-leave-active {
  transition: all .25s;
  transform: translateY(0);
}
.rollup-enter, .rollup-leave-to /* .fade-leave-active em versões anteriores a 2.1.8 */ {
  transition: all .25s;
  opacity: 0;
  transform: translateY(-200px);

}
